<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "BTC"
	version 	= "1.0.0">

	<name>BTC Forum</name>

	<description>
		The Official Forum for the British Tamaskan Club
	</description>

	<author href="http://tamaskan-dog.org.uk"
		email="jim@tamaskan-dog.org.uk">
		Jim Niven
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>